.c-chart{
  box-shadow: 0 4px 18px rgba(16,24,40,0.5);
  border-radius: 12px;
}

.property-charts-container {
  padding: 0 !important;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}


.chart-card {
  /* background: #fff; */
  /* border-radius: 16px; */
  border: 1px solid rgba(0, 0, 0, 0.06);
  /* padding: 1rem; */
  transition: all 0.3s ease;
}

.chart-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
}

.chart-heading {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  letter-spacing: 0.5px;
  color: #000;
}

.residential-heading {
  background: linear-gradient(90deg, #dbeafe 0%, #93c5fd 100%);
}

.commercial-heading {
  background: linear-gradient(90deg, #ffedd5 0%, #fdba74 100%);
}

/* Responsive */
@media (min-width: 992px) {
  .property-charts-container {
    /* padding-left: 2rem !important; */
    /* padding-right: 1.5rem !important; */
  }
}

@media (max-width: 768px) {
  .chart-heading {
    font-size: 0.9rem;
    padding: 0.35rem 0.75rem;
  }

  .chart-card {
    padding: 0.75rem;
  }
}